<div class="page-group">
	
	<!-- 顶部导航 -->
	<header class="bar bar-nav">
		<a class="icon icon-left pull-left" onclick="javascript:history.back(-1);"></a>
		<a class="icon pull-right">评价</a>
		<h1 class="title">商品详情</h1>
	</header>
	<!-- 底部导航栏 -->
	<nav class="bar bar-tab">
		<a class="tab-item external">
			<span class="icon icon-emoji"></span>
			<span class="tab-label">客服</span>
		</a>
		<a class="tab-item external">
			<span class="icon icon-star"></span>
			<span class="tab-label">收藏</span>

		</a>
		<a class="tab-item external car"  href="/cart">
			<span class="tab-label">购物车</span>
		</a>
		<a class="tab-item external car" id="buy" routerLink="/orders">
			<span class="tab-label">立即购买</span>
		</a>
	</nav>
	
	<div class="content">
		<img src="../../assets/goods.png" alt="" width="100%">
		<div class="goods">
			
			<p>洗澡便携运输笼多功能猫咪神器固定洗猫袋</p>
			<div class="price"><span>￥39.00</span><s>￥83.00</s></div>
			<div class="sale">已售2300件<span class="fr">江苏泰州</span></div>
			<div class="discount">领券: <span>满159-30</span><img class="fr" src="../../assets/right_sorrow.png" alt="" routerLink="/discount"></div>
		</div>
	</div>
</div>