<div class="page-group">
<!-- 顶部导航 -->
	<header class="bar bar-nav">
		<a class="icon icon-left pull-left" routerLink="/community"></a>
		<h1 class="title">线下活动</h1>
	</header>
	<!-- 底部导航栏 -->
	<nav class="bar bar-tab">
		<a class="tab-item external" routerLink="/homepage">
			<span class="icon icon-home"></span>
			<span class="tab-label">首页</span>
		</a>
		<a class="tab-item external active" href="javascript:void(0);">
			<span class="icon icon-me"></span>
			<span class="tab-label">社区</span>

		</a>
		<a class="tab-item external open-popup open-about">
			<div class="icon icon-star"></div>
		</a>
		<a class="tab-item external" routerLink="/match">
			<span class="icon icon-cart"></span>
			<span class="tab-label">配对</span>
		</a>
		<a class="tab-item external" routerLink="/mypet">
			<span class="icon icon-settings"></span>
			<span class="tab-label">我的</span>
		</a>
	</nav>
	

	<div class="content">
		
		<div class="content-block" style="width: 100%;height:99.3%;">
			暂无活动消息..
		</div>
		

	</div>
	<!-- About Popup -->
	<div class="popup popup-about">
		<div class="content-block">
			<div class="share-btn row">
				<div class="col-33 close-popup" routerLink="/article">
					<img src="../../assets/btn_tuwen@2x.png" alt="">
					<p>图文</p>
				</div>
				<div class="col-33 close-popup live">
					<a target="_blank" href="/camera"><img src="../../assets/btn_zhibo@2x.png" alt=""></a>
					
					<p>直播</p>
				</div>
				<div class="col-33 close-popup" routerLink="/baike">
					<img  src="../../assets/btn_tiwen@2x.png" alt="">
					<p>提问</p>
				</div>
			</div>
			<div class="cancle close-popup">
				<img class="close-popup" src="../../assets/btn_quxiao@2x.png" alt>
			</div>
		</div>
	</div>

</div>
