<div class="page-group">

	<!-- 顶部导航 -->
	<header class="bar bar-nav">
		<a class="icon icon-left pull-left" onclick="javascript:history.back(-1);"></a>
		<h1 class="title">我的订单</h1>
	</header>

	<!-- 底部导航栏 -->
	<nav class="bar bar-tab">
		<a class="tab-item external" routerLink="/homepage">
			<span class="icon icon-home"></span>
			<span class="tab-label">首页</span>
		</a>
		<a class="tab-item external" routerLink="/community">
			<span class="icon icon-me"></span>
			<span class="tab-label">社区</span>

		</a>
		<a class="tab-item external open-popup open-about">
			<div class="icon icon-star"></div>
		</a>
		<a class="tab-item external" routerLink="/match">
			<span class="icon icon-cart"></span>
			<span class="tab-label">配对</span>
		</a>
		<a class="tab-item external active" href="javascript:void(0);">
			<span class="icon icon-settings"></span>
			<span class="tab-label">我的</span>
		</a>
	</nav>


	<div class="content">
		<div class="buttons-tab">
			<a href="#tab1" class="tab-link active button">全部</a>
			<a href="#tab2" class="tab-link button">待付款</a>
			<a href="#tab3" class="tab-link button">待发货</a>
			<a href="#tab4" class="tab-link button">待收货</a>
			<a href="#tab5" class="tab-link button">待评价</a>
		</div>
		<div class="content-block">
			<div class="tabs">
				<div id="tab1" class="tab active">
					<div class="content-block">
						<div class="card">
						<div class="card-header">
							<input type="checkbox" class="check goods-check shopCheck">
							<h4><a class="shopid">味它宠物食品专营店</a></h4><span>交易成功</span>
						</div>
							<div class="card-content">
								<div class="card-content-inner">
									<div class="shop-info">
										<input type="checkbox" class="check goods-check goodsCheck">
										<div class="shop-info-img"><img src="../../assets/cart-1.png" /></div>
										<div class="shop-info-text">
											<h4>美国进口天然猫粮 健康 鸡肉三文鱼全猫粮150g 6个月以上</h4>

											<div class="shop-price">
												<div class="shop-pices">￥<b class="price">398.00</b></div>	
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<a><span>查看物流</span></a>
								<a><span>追加评价</span></a>
							</div>
						</div>
					</div>
				</div>
				<div id="tab2" class="tab">
					<div class="content-block">
						<p>暂无订单信息</p>
					</div>
				</div>
				<div id="tab3" class="tab">
					<div class="content-block">
						<p>暂无订单信息</p>
					</div>
				</div>
				<div id="tab4" class="tab">
					<div class="content-block">
						<div class="content-block">
						<div class="card">
						
							<div class="card-content">
								<div class="card-content-inner">
									<div class="shop-info">
										
										<div class="shop-info-img"><img src="../../assets/cart-1.png" /></div>
										<div class="shop-info-text">
											<span class="dispatch">派送中...</span>
											<h4>美国进口天然猫粮 健康 鸡肉三文鱼全猫粮150g 6个月以上</h4>
											<h5 class="order_num">京东快递:399555441024584</h5>
											<div class="shop-price">
												<div class="shop-pices">客服电话:<b class="price">95546</b></div>
												<a class="fr"><span class="detail">物流详情</span></a>	
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
								
								<div class="track-rcol">
									<div class="track-list">
										<ul>
											<li class="first">
												<i class="node-icon"></i>
												<span class="time">2016-03-10 18:07:15</span>
												<span class="txt">感谢您在京东购物，欢迎您再次光临！</span>
											</li>
											<li>
												<i class="node-icon"></i>
												<span class="time">2016-03-10 18:07:15</span>
												<span class="txt">【京东到家】京东配送员【申国龙】已出发，联系电话【18410106883，感谢您的耐心等待，参加评价还能赢取京豆呦】</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div id="tab5" class="tab">
					<div class="content-block">
						<p>暂无订单信息</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>