<div class="page-group">
	
	<!-- 顶部导航 -->
	<header class="bar bar-nav">
		<a class="icon icon-left pull-left" onclick="javascript:history.back(-1);"></a>
		
		<h1 class="title">保护萌爪,从足部...</h1>
	</header>
	<!-- 底部导航栏 -->
	<nav class="bar bar-tab">
		<a class="tab-item external" routerLink="/homepage">
			<span class="icon icon-home"></span>
			<span class="tab-label">首页</span>
		</a>
		<a class="tab-item external active" href="javascript:void(0);">
			<span class="icon icon-me"></span>
			<span class="tab-label">社区</span>

		</a>
		<a class="tab-item external open-popup open-about">
			<div class="icon icon-star"></div>
		</a>
		<a class="tab-item external" routerLink="/match">
			<span class="icon icon-cart"></span>
			<span class="tab-label">配对</span>
		</a>
		<a class="tab-item external" routerLink="/mypet">
			<span class="icon icon-settings"></span>
			<span class="tab-label">我的</span>
		</a>
	</nav>

	<div class="content">
		<div class="white"></div>
		<div class="infologo  clearfix">
			<img class="infologo-left fl" src="../../assets/bg_dog@2x.png" alt="">
			<img class="infologo-right fr" src="../../assets/bg_gutou@2x.png" alt="">
		</div>
		<div class="info">
			<p>&nbsp;&nbsp;狗狗的小萌爪直接接触地面,经常摩擦容易导致皮肤干裂,如果长期不重视脚的健康,狗狗可能会因为脚上的伤导致皮肤病。从现在起定期给狗狗护理脚爪。尤其是在夏季,冬季气候恶劣的季节。</p>
		</div>

		<div class="methods">
			<span class="titlename"><p>如何护理</p></span>
			<div class="steps">
				<b>第一步:剪指甲</b>
				<p>定期剪指甲,至少两周一次</p>
				<p>狗狗可以试着接触地面俩将爪子磨短</p>
				<p>如果狗狗的指甲为黑色,每次剪短一点即可</p>
				<p>人用指甲刀不适合狗狗。</p>
				<b>第二步:修建脚底毛</b>
				<p>定期给狗狗修剪脚底毛,尤其是夏天</p>
				<p>剃掉脚底毛可以更好地帮助狗狗散热</p>
				<p>对于指甲缝里的毛用剪刀修一修即可</p>
				<b>第三步:肉垫护理</b>
				<p>定期给肉垫涂抹足部护理霜来保护肉垫</p>
				<p>轻轻揉搓片刻,以促进护理霜吸收</p>
			</div>
		</div>
		<div class="bottem-logo">
			<img class="fr" src="../../assets/cat@2x.png" alt="">
		</div>
	</div>

	<!-- About Popup -->
  <div class="popup popup-about">
    <div class="content-block">
      <div class="share-btn row">
        <div class="col-33 close-popup" routerLink="/article">
          <img src="../../assets/btn_tuwen@2x.png" alt="">
          <p>图文</p>
        </div>
        <div class="col-33 close-popup live">
          <a target="_blank" href="/camera"><img src="../../assets/btn_zhibo@2x.png" alt=""></a>
          
          <p>直播</p>
        </div>
        <div class="col-33 close-popup" routerLink="/baike">
          <img  src="../../assets/btn_tiwen@2x.png" alt="">
          <p>提问</p>
        </div>
      </div>
      <div class="cancle close-popup">
        <img class="close-popup" src="../../assets/btn_quxiao@2x.png" alt>
      </div>
    </div>
  </div>
</div>
