<div class="page-group">
	<div class="content">
		<div class="share-btn row">
			<div class="col-33" routerLink="/article">
				<img src="../../assets/btn_tuwen@2x.png" alt="">
				<p>图文</p>
			</div>
			<div class="col-33 live">
				<img src="../../assets/btn_zhibo@2x.png" alt="">
				<p>直播</p>
			</div>
			<div class="col-33">
				<img src="../../assets/btn_tiwen@2x.png" alt="" routerLink="/baike">
				<p>提问</p>
			</div>
		</div>
		<div class="cancle">
			<img src="../../assets/btn_quxiao@2x.png" alt="" onclick="javascript:history.back(-1);">
		</div>
	</div>
</div>

